<header class="flex justify-around w-[90%] mx-auto items-center text-lg mt-5 font-medium">
  <a href="/consultation">Запись на консультацию</a>
  <a href="/about">О нас</a>

  <a href="/" class="font-mono text-5xl font-black">Аналитик</a>

  <a href="tel:+74952528857">+7 (495) 252-88-57</a>
  <a href="mailto:profanalitik@gmail.com">profanalitik@gmail.com</a>
</header>

<style>
  a:hover {
    @apply underline duration-200;
  }
</style>
