---
import {grayBody} from '../Header.astro'

const aboutContent = {
  title: '16 ЛЕТ НА РЫНКЕ',
  text: ['Ведем свою деятельность с 2008 года, за это время мы сформировали коллектив, отточили существующие методики работы с предприятиями и создали свои.', 'Компанию «Аналитик» выбирают не только из-за опыта в части аудита, но и из-за комплексности услуг в области корпоративного управления. Если у вас есть качественная идея или уже работающий бизнес, то мы поможем вам построить эффективную модель управления финансами, бизнес-процессами, повысить квалификацию персонала, автоматизировать уже конкретные учетные и плановые процедуры.'],
}
---

<section data-section="index-about" id="about" class="mt-[15vh] sm:mt-[10vh] space-y-10 sm:space-y-7">
  <h1 class={`px-5 py-2 w-fit mx-auto sm:mx-0 sm:ml-5 text-5xl sm:text-2xl text-center ${grayBody}`}>{aboutContent.title}</h1>

  <div class="w-1/2 mx-auto space-y-7 sm:space-y-10 text-center sm:text-sm sm:w-[85%] sm:ml-5 sm:text-left text-lg">{aboutContent.text.map((text) => <p>{text}</p>)}</div>
</section>
