---
import {grayBody} from '../Header.astro'

const aboutContent = {
  title: '16 ЛЕТ НА РЫНКЕ',
  text: ['Ведем свою деятельность с 2008 года, за это время мы сформировали коллектив, отточили существующие методики работы с предприятиями и создали свои.', 'Компанию «Аналитик» выбирают не только из-за опыта в части аудита, но и из-за комплексности услуг в области корпоративного управления. Если у вас есть качественная идея или уже работающий бизнес, то мы поможем вам построить эффективную модель управления финансами, бизнес-процессами, повысить квалификацию персонала, автоматизировать уже конкретные учетные и плановые процедуры.'],
}
---

<section data-section="index-hero" class="mt-[15vh]">
  <h1 class="px-5 py-2 w-fit mx-auto rounded-lg text-5xl text-white border-[1px] border-neutral-700 bg-neutral-900">{aboutContent.title}</h1>

  <div class="w-1/2 mx-auto mt-10 space-y-5">{aboutContent.text.map((text) => <p class="text-lg">{text}</p>)}</div>
</section>
